{% extends 'base.html' %}
{%load static%}
{% block title %} International Courier Service based in Usa and Australia.{% endblock %}
<style>
    .form-container {
  position: relative;
}

.form-container.flipped #quote-form {
  transform: rotateY(180deg);
}

.form-container.flipped #result-container {
  transform: rotateY(0deg);
  background-color: #2980b9;
}

#result-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;,
  height: 100%;
  transform: rotateY(180deg);
}

</style>
{% block content %}
<div class="slider-area ">
    <div class="slider-active">
        <!-- Single Slider -->
        <div class="single-slider slider-height d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-9 col-lg-9">
                        <div class="hero__caption">
                            <h1>Safe,Fast & Reliable <span>Logistic</span> Solutions!</h1>
                        </div>
                        <!--Hero form -->


                        <form onsubmit="" action="{% url 'track'   %}" method="get" class="search-box">
                            <div class="input-form">
                                <input type="text" id="tracking_number" name="tracking_number"
                                       placeholder="Your Tracking ID">
                            </div>
                            <div class="search-form">
                                <button class="btn" type="submit">Track & Trace</button>
                            </div>
                        </form>
                        <!-- Hero Pera -->
                        <div class="hero-pera">
                            <p>For order status inquiry</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider Area End-->
<!--? our info Start -->
<div class="our-info-area pt-70 pb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-info mb-30">
                    <div class="info-icon">
                        <span class="flaticon-support"></span>
                    </div>
                    <div class="info-caption">
                        <p>Call Us Anytime</p>
                        <span>US +1 (5716226072)</span>
                        <span>Nepal +977 (9843047017)</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-info mb-30">
                    <div class="info-icon">
                        <span class="flaticon-clock"></span>
                    </div>
                    <div class="info-caption">
                        <p>We are allways Open</p>
                        <span>24/7 Customer Service</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-info mb-30">
                    <div class="info-icon">
                        <span class="flaticon-place"></span>
                    </div>
                    <div class="info-caption">
                        <p>Nepal, 44604</p>
                        <span>USA, Massachusetts - 02151</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- our info End -->
<!--? Categories Area Start -->
<div class="categories-area section-padding30">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-80">
                    <span>Our Services</span>
                    <h2>What We Can Do For You</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <span class="flaticon-shipped"></span>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Land Transport</a></h5>
                        <p class="paragraph"> we offer a range of land transport solutions to meet your shipping
                            needs.</p>
                        <br>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <span class="flaticon-ship"></span>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Last-mile delivery</a></h5>
                        <p class="paragraph"> we understand the importance of last-mile delivery and the impact it has
                            on our client's business.
                            Our advanced technology and logistics expertise enable us to provide fast and reliable
                            last-mile delivery services.
                        </p>

                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-cat text-center mb-50">
                    <div class="cat-icon">
                        <span class="flaticon-plane"></span>
                    </div>
                    <div class="cat-cap">
                        <h5><a href="services.html">Air Transport</a></h5>
                        <p> we specialize in international shipping and have extensive experience managing the logistics
                            of cross-border transportation. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Categories Area End -->
<!--? About Area Start -->
<div class="about-low-area padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="about-caption mb-50">
                    <!-- Section Tittle -->
                    <div class="section-tittle mb-35">
                        <span>About Our Company</span>
                        <h2>Safe Logistic & Transport Solutions That Saves our Valuable Time!</h2>
                    </div>
                    <p>Brook presents your services with flexible, convenient and composed layouts. You can select your
                        favorite layouts & elements for particular tasks with unlimited customization possibilities.
                        Pixel-perfect replication of the designers' intent is intended.

                        Brook presents your services with flexible, convenient and client-oriented layouts. You can
                        select your favorite layouts."</p>
                    <p>Brook presents your services with flexible, convefnient and chient anipurpose layouts. You can
                        select your favorite layouts.</p>
                    <a class="btn">More About Us</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <!-- about-img -->
                <div class="about-img ">
                    <div class="about-font-img">
                        <img src="{%static 'assets/img/gallery/about2.png'%}" alt="">
                    </div>
                    <div class="about-back-img d-none d-lg-block">
                        <img src="{%static 'assets/img/gallery/about1.png'%}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Area End -->
<!--? contact-form start -->
<section class="contact-form-area section-bg  pt-115 pb-120 fix" data-background=""
         {%static 'assets/img/gallery/section_bg02.jpg' %}">
<div class="container">
    <div class="row justify-content-end">
        <!-- Contact wrapper -->
        <div class="col-xl-8 col-lg-9">
            <div class="contact-form-wrapper">
                <!-- From tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-50">
                            <span>Get a Qote For Free</span>
                            <h2>Request a Free Quote</h2>
                            <p>Brook presents your services with flexible, convenient and cdpose layouts. You can select
                                your favorite layouts & elements for.</p>
                        </div>
                    </div>
                </div>



                <!-- form -->
                <form  class="contact-form">
                    <div class="row ">
                        <div class="col-lg-6 col-md-6">
                            <div class="input-form">
                                <input type="text" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="input-form">
                                <input type="text" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="input-form">
                                <input type="text" placeholder="Contact Number">
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="select-items">
                                <select name="parcel-type" id="parcel-type">
                                    <option value="document">Document</option>
                                    <option value="Small package">Small package (less than 2 kg)</option>
                                    <option value="Medium package ">Medium package (between 2 kg and 5 kg)</option>
                                    <option value="Large package">Large package (more than 5 kg)</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="input-form">
                                <input type="text" id="country" placeholder="Destination Country" autocomplete="off">
                                <ul style="color:green;"  type="circle" id="autocomplete-dropdown"></ul>

                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="input-form">
                                <input type="text" placeholder="Incoterms">
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="input-form">
                                <input type="text" id="weight" placeholder="Weight in gm">
                            </div>
                        </div>
                        <!-- Height Width length -->

                        <!-- Radio Button -->
                        <div class="col-lg-12">
                            <div class="radio-wrapper mb-30 mt-15">
                                <label>Extra services:</label>
                                <div class="select-radio">
                                    <div class="radio">
                                        <input id="radio-1" name="radio" type="radio" checked="">
                                        <label for="radio-1" class="radio-label">Freight</label>
                                    </div>
                                    <div class="radio">
                                        <input id="radio-2" name="radio" type="radio">
                                        <label for="radio-2" class="radio-label">Express Delivery</label>
                                    </div>
                                    <div class="radio">
                                        <input id="radio-4" name="radio" type="radio">
                                        <label for="radio-4" class="radio-label">Insurance</label>
                                    </div>
                                    <div class="radio">
                                        <input id="radio-5" name="radio" type="radio">
                                        <label for="radio-5" class="radio-label">Packaging</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Button -->
                        <div class="col-lg-10">
                            <a class="btn" id="calculate">Request a Quote</a>
                        </div>
                    </div>
                </form>
                <h1 class="result-container" id="result-container">
    <!-- Result message here -->
                    <br>
                </h1>
            </div>
        </div>
    </div>
</div>
</section>
<!-- contact-form end -->
<!--Team Ara Start -->
<div class="team-area section-padding30">
    <div class="container">
        <div class="row justify-content-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle text-center mb-70">
                    <span>Our Team Mambers</span>
                    <h2>What We Can Do For You</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-team mb-30 text-center">
                    <div class="team-img">
                        <img src="{%static 'assets/img/gallery/team1.jpg' %}" alt="">
                        <div class="team-caption">
                            <h3><a href="#">Ramit Bhandari</a></h3>
                            <p>Co-Founder</p>
                            <!-- Blog Social -->
                            <div class="team-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/profile.php?id=100080352774193"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                    <li><a href="https://www.instagram.com/01whiteshadow01/"><i
                                            class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <div class="single-team mb-30 text-center">
                    <div class="team-img">
                        <img src="{%static 'assets/img/gallery/team2.jpeg' %}" alt="">
                        <div class="team-caption">
                            <h3><a href="#">Prajjwal Acharya</a></h3>
                            <p>Co-Founder</p>
                            <!-- Blog Social -->
                            <div class="team-social">
                                <ul>
                                    <li><a href="https://www.facebook.com/prajjwal.acharya.39/"><i
                                            class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fas fa-globe"></i></a></li>
                                    <li><a href="https://www.instagram.com/acharyaprajjwal/"><i
                                            class="fab fa-instagram"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Team Ara End -->
    <!--? Testimonial Start -->
    <div class="testimonial-area testimonial-padding section-bg" data-background="" {%static
    'assets/img/gallery/section_bg04.jpg' %}">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-7 col-lg-7">
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle2 mb-25">
                    <span>Clients Testimonials</span>
                    <h2>What Our Clients Say!</h2>
                </div>
                <div class="h1-testimonial-active mb-70">
                    <!-- Single Testimonial -->
                    <div class="single-testimonial ">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <div class="testimonial-top-cap">
                                <p>Srem ipsum adolor dfsit amet, consectetur adipiscing elit, sed dox beiusmod tempor
                                    incci didunt ut labore et dolore magna aliqua. Quis cipsucm suspendisse ultrices
                                    gravida. Risus commodo vivercra maecenas accumsan lac.</p>
                            </div>
                            <!-- founder -->
                            <div class="testimonial-founder d-flex align-items-center">
                                <div class="founder-img">
                                    <img src="{%static 'assets/img/gallery/Homepage_testi.png' %}" alt="">
                                </div>
                                <div class="founder-text">
                                    <span>Jhaon smith</span>
                                    <p>Creative designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial ">
                        <!-- Testimonial Content -->
                        <div class="testimonial-caption ">
                            <div class="testimonial-top-cap">
                                <p>Srem ipsum adolor dfsit amet, consectetur adipiscing elit, sed dox beiusmod tempor
                                    incci didunt ut labore et dolore magna aliqua. Quis cipsucm suspendisse ultrices
                                    gravida. Risus commodo vivercra maecenas accumsan lac.</p>
                            </div>
                            <!-- founder -->
                            <div class="testimonial-founder d-flex align-items-center">
                                <div class="founder-img">
                                    <img src="{%static 'assets/img/gallery/Homepage_testi.png'%} " alt="">
                                </div>
                                <div class="founder-text">
                                    <span>Jhaon smith</span>
                                    <p>Creative designer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Form Start -->
            <div class="col-xl-4 col-lg-5 col-md-8">
                <div class="testimonial-form text-center">
                    <h3>Always listening, always understanding.</h3>
                    <input type="text" placeholder="Incoterms">
                    <button name="submit" class="submit-btn">Request a Quote</button>
                </div>
            </div>
            <!-- Form End -->
        </div>
    </div>
</div>
<!-- Testimonial End -->
<!--? Blog Area Start -->
<div class="home-blog-area section-padding30">
    <div class="container">
        <!-- Section Tittle -->
        <div class="row">
            <div class="col-lg-12">
                <div class="section-tittle text-center mb-70">
                    <span>Our Recent news</span>
                    <h2>Tourist Blog</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="home-blog-single mb-30">
                    <div class="blog-img-cap">
                        <div class="blog-img">
                            <img src="{%static 'assets/img/gallery/blog01.png'%}" alt="">
                        </div>
                    </div>
                    <div class="blog-caption">
                        <div class="blog-date text-center">
                            <span>27</span>
                            <p>SEP</p>
                        </div>
                        <div class="blog-cap">
                            <ul>
                                <li><a href="#"><i class="ti-user"></i> Jessica Temphers</a></li>
                                <li><a href="#"><i class="ti-comment-alt"></i> 12</a></li>
                            </ul>
                            <h3><a href="blog_details.html">Here’s what you should know before.</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="home-blog-single mb-30">
                    <div class="blog-img-cap">
                        <div class="blog-img">
                            <img src="{%static 'assets/img/gallery/blog1.png' %}" alt="">
                        </div>
                    </div>
                    <div class="blog-caption">
                        <div class="blog-date text-center">
                            <span>27</span>
                            <p>SEP</p>
                        </div>
                        <div class="blog-cap">
                            <ul>
                                <li><a href="#"><i class="ti-user"></i> Jessica Temphers</a></li>
                                <li><a href="#"><i class="ti-comment-alt"></i> 12</a></li>
                            </ul>
                            <h3><a href="blog_details.html">Here’s what you should know before.</a></h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="home-blog-single mb-30">
                    <div class="blog-img-cap">
                        <div class="blog-img">
                            <img src="" {%static 'assets/img/gallery/blog02.png" alt="">
                        </div>
                    </div>
                    <div class="blog-caption">
                        <div class="blog-date text-center">
                            <span>27</span>
                            <p>SEP</p>
                        </div>
                        <div class="blog-cap">
                            <ul>
                                <li><a href="#"><i class="ti-user"></i> Jessica Temphers</a></li>
                                <li><a href="#"><i class="ti-comment-alt"></i> 12</a></li>
                            </ul>
                            <h3><a href="blog_details.html">Here’s what you should know before.</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog Area End -->
{% endblock %}
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.1/themes/ui-lightness/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
<script type="text/javascript" src="http://api.geonames.org/export/geonamesData.js?username=demo"></script>


